.longran-Top{
    background:#000;
    .top-nav-lists{
        padding:0 10px;
        .top-nav-list{
            position:absolute;
            padding:10px 25px;
        }
        .top-nav-icon:after{
            border:15px solid transparent;
            position: absolute;
            top:0;
            left:0;
            margin-left:-15px;
            content: '';
            border-top-color:#000;
        }
    }
}