.longran-Person{
    margin:40px;
    border:1px solid #ccc;
    border-radius: 15px;
}
.imgbox{
    width:60px;
    height:60px;
    border-radius: 50%;
    overflow: hidden;
}
.imgbox img{
    width:100%;
    height:100%;
}
.person-top{
    padding:20px 40px;
    margin:10px;
    border:1px solid #ccc;
    border-radius: 8px;
}
.top-box{
    border:1px slid #ccc;
    background:#f5f8fa;
     padding:10px;
}
.name-person:hover{
    color:#D61B52;
}
.person-toplists{
    position: relative;
    text-align: center;
    margin:10px 0;
    padding:10px 16px;
    display: inline-block;
    width:20%;
    border-right:1px solid #e4eaee;
}
.person-toplists:hover,.person-lists:hover{
    color:#D61B52;
}
.person-toplists:last-child{
    border-right:none;
}
.num-eyes{
    width: 20px;
    height:20px;
    border:1px solid #D61B52;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    color:#fff;
    position: absolute;
    top:0;
    right:30%;
    background: #D61B52;
}
.person-lists{
    float:none;
    padding:10px 15px;
    list-style: outside;
}
.person-list{
    width:15%;
}
.person-content{
    width:84%;
    border:1px solid #e4eaee;
    border-radius: 8px;
}
.person-content-con{
    padding:30px;
}
.person-title{
    margin:10px;
}
.title-con:hover{
    color:#D61B52;
}
//  编辑头像
.change-img{
    height:150px;
    border:1px solid #ccc;
    color:#ccc;
}
.upload-btn{
    float: right;
    margin-top:60px;
}
// 个人中心
.person-imgnew{
    width:100%;
    height:100%;
}
.img-touimg{
    position:relative;
    width:150px;
    height:150px;
}
.img-touimg:hover .edit-tou{
    display: block;
}
.edit-tou{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    background: #000;
    opacity: .4;
    color:#fff;
    text-align: center;
    padding:5px 0;
    display: none;
}
// 收藏夹
.listshop-lists{
    width:24%;
}
.listjoin-cart{
    left:20%;
    top:35%;
    width: 100px;
    display:none;
}
.list-detail{
    width: 100px;
    left:20%;
    top:50%;
    display:none;
}
// 收货地址
.address-title-lists{
    border:1px solid #ccc;
    height:30px;
    border-left:none;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    border-bottom:0;
}
.address-title-lists:first-child{
    border-left:1px solid #ccc;
}
.address-list-li{
    width:100%;
    border:1px solid #ccc;
    font-size: 12px;
}
.address-lists{
    float:left;
    border-right:1px solid #ccc;
    text-align: center;
    padding:10px 0;
   
}
.address-lists:last-child{
    border-right:none;
}
.hand:hover{
    color:blue;
}
/deep/ .el-table .cel{
    text-align: center;
}
.hand:hover{
    color:blue;
}
.seted{
    background:#ffd6cc ;
    border:1px solid #ff5000;
    padding:5px 5px;
    color:#f30;
}
.sete{
    background:#000 ;
    border:1px solid #000;
    padding:5px 5px;
    color:#fff;
}
.sete:hover{
    border:1px solid #D61B52;
    background: #D61B52;
}
/deep/ .el-textarea{
    width:70%;
}
/deep/ .el-form-item__label{
    width:150px;
}
/deep/ .el-input__inner{
    width:70%;
}
// /deep/ [name=tel]{
//     width:50%;
// }
// 购物车
.cart-lists{
    padding:10px;
    border-top:1px solid #e2e2e2;
    border-bottom:1px solid #e2e2e2;
    float:none;
    margin-top:10px;
}
.cart-listsimg{
    margin-top:20px;
    float:left;
    width:70px;
    height:70px;
}
.cart-title-list{
    display: inline-block;
    height:50px;
    line-height: 50px;
    width:14%;
    text-align: center;
}
.cart-title-lists {
    margin-top:10px;
    border-top:1px solid #e2e2e2;
}
.cart-checkbox{
    float:left;
    margin-top:40px;
}
.cart-scale,.cart-name,.cart-total,.cart-handle,.cart-num{
    text-align: center;
    width:14%;
    margin-top:40px;
    float:left;
}
.cart-price{
    text-align: center;
    width:13%;
    margin-top:40px;
    float:left;
}
.cart-text{
    padding:5px 10px;
    border:1px solid #ccc;
    background: transparent;
}
.cart-text:hover{
    background:#e2e2e2 ;
}
.cart-mount{
    text-align: center;
    width:14%;
    margin-top:30px;
    float:left;
}
.cart-allmount{
    height:100px;
    margin-top:10px;
    padding-top:30px;
    background: #f7f7f7;
}
.cart-aplay{
    display: inline-block;
    height:40px;
    line-height: 30px;
}
// 全部评价
.img-allapprise{
    width:100px;
    height:100px;
}
.allappraise-lists{
    width:100%;
    float:none;
    padding:20px;
    border-bottom:1px solid rgb(231, 231, 231);
}
.allappraise-lists:last-child{
    border:none;
}
.allappraise-touimg{
    width:50px;
    height:50px;
    float:left;
    border-radius: 50%;
}

.allappraise-list{
    border:1px dashed rgb(223, 222, 222);
    padding:10px;
}